@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");

/* general */

html, body {
  height: 100%;
}

body {
  color: #111111;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

/*header*/
header .navbar {
  height: 30px;
}

header .h-free-shipping {
  font-size: 15px;
}

header .h-controls {
  display: flex;
  justify-content: flex-end;
}

header .h-control {
  display: flex;
  align-items: center;
  font-size: 12px;
  position: relative;
  margin-left: 40px;
  color: #605f64;
}

header .h-control:first-child {
  margin-left: 0;
}

header .h-control img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


header .icon {
  width: 20px;
  height: 20px;
}

header .icon.arrow {
  position: absolute;
  right: 4px;
  width: 11px;
  height: 7px;
}

header .h-control select {
  background: transparent;
  border-radius: 0;
  border: 1px solid #acacac;
  width: 100px;
  height: 20px;
  flex-shrink: 0;
  padding: 0 7px;
  display: flex;
  align-items: center;
}

header .navbar.sub-navbar {
  height: 60px;
  background-color: #111111;
  font-size: 15px;
  color: #b4b2bb;
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.sub-navbar .logo {
  width: 209px;
  height: 40px;
}

.cartImg
{
  margin-right: 45px;
}

header .navbar.sub-navbar a {
  color: #b4b2bb;
}

@media (min-width: 1679px) {

  header .navbar,
  header .navbar.sub-navbar{
    padding: 0 16.96428571%;
  }
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
