<body>
<header>
  <div class="navbar">
    <div class="container d-flex justify-content-between">
      <div class="h-free-shipping">Free shipping with $75 purchase! &nbsp;&nbsp;</div>
      <div class="h-controls">
        <div class="h-control">
          <img src="assets/images/icons/Hipster_CurrencyIcon.svg" alt="icon" class="icon"/>
          <form method="POST" class="controls-form" id="currency_form">
            <select name="currency_code" onchange="document.getElementById('currency_form').submit();">
            </select>
          </form>
          <img src="assets/images/icons/Hipster_DownArrow.svg" alt="icon" class="icon arrow"/>
        </div>
      </div>

    </div>
  </div>
  <div class="navbar sub-navbar">
    <div class="container d-flex justify-content-between">
      <a routerLink="product-view" class="navbar-brand d-flex align-items-center">
        <img src="assets/images/icons/Hipster_NavLogo.svg" alt="logo" class="logo"/>
      </a>
      <div>
        <a routerLink="cart">
          <img src="assets/images/icons/Hipster_CartIcon.svg" alt="cart-icon" class="cartImg"/>
          <span class="cart">Cart</span>
        </a>
      </div>
    </div>
  </div>
</header>
</body>
